@page "/"

<h1>Random deck creator for Artifact</h1>

<p>
    This is a website that lets you create different kinds of random decks for <a href="https://store.steampowered.com/app/583950/Artifact/" class="linkLightBlue">Artifact</a>.
    There are 3 different pages for different kind of random deck creators that you can find on the left side of the webpage.
</p>

<p>
    The first page is called <a href="custom" class="linkLightBlue">custom</a>. Custom lets you choose which colors you want to have and how many cards your deck contains. It also lets you choose if you want to have a balanced amount of colored cards according to your randomed heros.
</p>
<p>
    The second page is called <a href="balancedrandom" class="linkLightBlue">balanced random</a>. Balanced random creates a random deck for you that chooses a balanced number of colored cards according to how many colored heroes you randomed. It randoms 8 of the same colored cards for each hero.
</p>
<p>
    The third page is called <a href="randomdeckcreator" class="linkLightBlue">truly random</a>. Like the name tells you truly random creates completely random decks (read: clownfiesta). You could for example random 1 blue hero and 4 green heroes but only get blue cards.
</p>